body{
    background-color: aquamarine;
}
form{
    background-color: aqua;
    width: 50%;
    margin: 0px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px  5px 3px 0px aliceblue;
}
h1{
    text-align: center;
}
input[type=submit]{
    padding: 7px;
    border: 0;
    background-color: cornflowerblue;
    color: azure;
    box-shadow: 5px  5px 3px 0px aliceblue;
    border-radius: 5px;
}
.sub{
    display: flex;
    justify-content: space-around;
}